
@{
    ViewBag.Title = "ErrorPage";
}


<!--bootstrap 5 alert -->
    <div class="container">
        <h2 class="mb-5 mt-3 text-danger">Error ! </h2>

        <div class="alert alert-warning" role="alert">
          

            <h4 class="alert-heading">Error!</h4>
            <p>  oops ! we are sorry , some thing went wrong </p>
            <hr>
            <p class="mb-0"> we will try to resolve that soon .</p>
        </div>


    </div>