
/*make border radius for inputs that have type subit or button*/
input[type="submit"], input[type="button"] {
    border-radius: 30px;
}

/*
    hide validation messages after showing it
*/
@keyframes HideValidationMessage {
    from {
       opacity:1;
    }

    to {
        opacity: 0.1;
        visibility:hidden;
    }
}


.text-danger span  {
    animation-name: HideValidationMessage;
    animation-duration: 5s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
}

/* make list divider by css*/
.dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #000;
}

/*scale h2 font on hover*/
h2:hover{

transform:scale(1.1);

}

/*solve the problem of the unnecessary padding in dropdown ul*/
.dropdown-menu {
    padding-top: 0px;
    padding-bottom:0px;
  
}